<li>
	{{burger_name}} <br>

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Try it now{{else}}Try again later{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

	<img src="/assets/img/burger.jpg" alt="any string at all!" id="burg-img"/>
</li>
