<li>
	{{burger_name}} <br>

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Try it now{{else}}Try again later{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

	
</li>
